html {
    font-size: 62.5%;
}

body {
    background-image: url(../images/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.logo {
    font-size: 4rem;
    font-family:Verdana;
    text-align: center;
    color: white;
}
h2 {
    margin-top: 1rem;
    margin-bottom: 0;
}

.detailed--item {
    clip-path: polygon(10% 0%, 90% 0%, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0% 90%, 0% 10%);
}

img {
    width: 100%;
}
span{
    color: white;
}
.item--title {
    font-size: 1.7rem;
}
.image--title{
    font-family: Verdana;
}
.gallery{
    padding: 0;
}

.gallery--item {
    text-align: center;
    background-color: darkred;
    margin: 10px;;
}

.gallery--item:hover{
    border: 1px dashed orange;
}
.detailed--item {
    text-align: center;
    background-color: darkred;
    font-family: Verdana;
}

@media screen and (orientation: portrait) {
    .logo {
        font-size: 2.6rem;
        font-family:Verdana;
        text-align: center;
        color: white;
        margin-bottom: 5px;
    }
    .gallery {
        display:inline-block;
        overflow: scroll;
        height: 280px;
        text-align: center;
    }
    .image--title {
        font-size: 1.1rem;
    }
    .gallery--item {
        display: inline-block;
        width: 100px;
        object-fit: cover;
    }
}

@media screen and (orientation: landscape) {
    .logo {
        font-size: 2.6rem;
        font-family:Verdana;
        text-align: center;
        color: white;
        margin-bottom: 5px;
    }
    .detailed--item {
        width: 55%;
        position: absolute;
        right: 5%;
    }
    .image--title{
        font-size: 1.2rem;
    }

    .gallery {
        position: absolute;
        left: 5%;
        width: 150px;
        padding: 0;
        overflow: scroll;
        height: 70%;
    }
}

@media screen and (width > 1200px){
    .logo {
        font-size: 4rem;
        font-family:Verdana;
        text-align: center;
        color: white;
        margin-bottom: 15px;
    }

    .detailed--item {
        width: 60%;
        right: 7%;
    }
    .gallery {
        left: 7%;
        width: 20%;
    }
    .image--title{
        font-size: 1.5rem;
    }
    .item--title {
        font-size: 2rem;
    }
}